.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.buttons, .startButton {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 17.1%;
    
}

.input {
    margin: 4px 2px;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    width: 30%; 
}